@import "../Sass/mixins";

.notificationsContainer {
  background-color: var(--white);
  width: fit-content;
  margin: 40px auto;
  padding: 20px;
  @include prefix(border-radius, 12px);
  width: 620px;
}

@media (max-width: 768px) {
  .notificationsContainer {
    width: 100%;
    margin: 0;
    @include prefix(border-radius, 0);
  }
}

@media (max-width: 376px) {
  .notificationsContainer {
    width: 100%;
  }
}

.notificationsContainer header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.notificationsContainer header h3 {
  color: var(--very-dark-blue);
  font-weight: 800;
}

.notificationsContainer header h3 span {
  display: inline-block;
  background-color: var(--blue);
  color: var(--white);
  font-size: .75rem;
  padding: 2px 9px;
  margin-left: 10px;
  @include prefix(border-radius, 5px);
  user-select: none;
}

.notificationsContainer header button {
  background-color: transparent;
  border: none;
  user-select: none;
  cursor: pointer;
  color: var(--dark-grayish-blue);
  font-size: .75rem;
  @include prefix(transition, color .3s);

  &:hover {
    color: var(--blue);
  }
}