@import "../Sass/mixins";

.notificationsContainer {
  background-color: var(--white);
  width: fit-content;
  margin: 40px auto;
  padding: 20px;
  @include prefix(border-radius, 12px);
  width: 620px;
}

@media (max-width: 768px) {
  .notificationsContainer {
    width: 94%;
  }
}

@media (max-width: 376px) {
  .notificationsContainer {
    width: 100%;
  }
}

.notificationsContainer header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.notificationsContainer header h3 {
  color: var(--very-dark-blue);
  font-weight: 800;
}

.notificationsContainer header h3 span {
  display: inline-block;
  background-color: var(--blue);
  color: var(--white);
  font-size: 12px;
  padding: 2px 9px;
  margin-left: 10px;
  @include prefix(border-radius, 5px);
}

.notificationsContainer header button {
  background-color: transparent;
  border: none;
  user-select: none;
  cursor: pointer;
  color: var(--dark-grayish-blue);
  font-size: .75rem;
  @include prefix(transition, color .3s);
}

.notificationsContainer header button:hover {
  color: var(--blue);
}

:root {
  --red: #f65351;
  --blue: #0a317b;
  --white: #fff;
  --very-light-grayish-blue: #f7fafd;
  --light-grayish-blue-1: #e5effa;
  --light-grayish-blue-2: #dde7ee;
  --grayish-blue: #939dae;
  --dark-grayish-blue: #5e6778;
  --very-dark-blue: #1c202b;
}